doctype html
html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js")
    script(src="/employee.js")
  body
    .container.my-5
      form#searchForm(method="get")
        .row.mb-3
          .col-md-6
            input#search.form-control(type="text" name="search" placeholder="Search by name")
          .col-md-3
            select#status.form-control(name="status")
              option(value="active") Active
              option(value="inactive") Inactive
          .col-md-3
            button.btn.btn-primary(type="submit") Search
        a.btn.btn-secondary.my-3(href='http://localhost:3000/employees/add') Add New +
      table.table.table-striped#employeeTable
        thead
          tr
            th Name
            th Position
            th Status
            th Action
        tbody
          if employees && employees.length
            each employee in employees
              tr
                td= employee.name
                td= employee.position
                td= employee.status
                td
                  a.btn.btn-warning(href='/employees/edit/' + employee.id) Edit
          else
            tr
              td(colspan="4") No employees found.

    script.
      $(document).ready(function() {
        $('#employeeTable').DataTable();
      })
    
