html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Scrap Asset
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js")

  body
    .container
      h1.my-4 Scrap Asset

      form(action="/scrap" method="POST")
        .mb-3
          label(for="assetId", class="form-label") Select Asset:
          select(id="assetId" name="assetId" class="form-select")
            each asset in assets
              option(value=asset.id) #{asset.name}

        .mb-3
          label(for="scrapReason", class="form-label") Scrap Reason:
          textarea(id="scrapReason" name="scrapReason" class="form-control" rows="4")

        button(type="submit", class="btn btn-danger") Scrap Asset
