doctype html
html
    head
        title Signup
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        style.
            .centered-form {
                width: 50%;
                margin: 0 auto;
                margin-top: 10%;
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
    body
        .container
            .centered-form
                h1.text-center Signup
                form#signupForm(method="POST")
                    .mb-3 
                        label(for="name") Name 
                        input#name.form-control(type="text" name="name" placeholder="Enter Name" required)
                    .mb-3 
                        label(for="email") Email 
                        input#email.form-control(type="email" name="email" placeholder="Enter Your Email" required)
                    .mb-3 
                        label(for="password") Password 
                        input#password.form-control(type="password" name="password" placeholder="*******" required)
                    button.btn.btn-primary#BtnSubmit(type="submit") Sign Up

                    .mb-3
                        p Already have an account? <a href="/user/login">Login here</a>

        script(src="/signup.js")
            