//- doctype html 
//- html 
//-   head
//-    title Employee
//-    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
//-    link(rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css")
//-    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
//-    script(src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js")
//-   body 
//- .container
//-       h3.text-center.my-5 Create New Asset
//-       form.form.m-auto.w-75(action="/assets", method="POST")
//-         .form-group.mb-3
//-           label.mb-2(for="serialNo") Serial Number
//-           input.form-control(name="serialNo", required)
//-         .form-group.mb-3
//-           label.mb-2(for="make") Make
//-           input.form-control(name="make", required)
//-         .form-group.mb-3
//-           label(for="model") Model
//-           input.form-control(name="model", required)
//-         .form-group.mb-3
//-           label.mb-2(for="status") Status
//-           input.form-control(name="status", required)
//-         .form-group.mb-3
//-           label.mb-2(for="branch") Branch
//-           input.form-control(name="branch", required)
//-         .form-group.mb-3
//-           label.mb-2(for="value") Value
//-           input.form-control(name="value", required)
//-         .form-group.mb-3
//-           label(for="category") Category
//-           select.form-control(name="category", required)
//-             option(value="Laptop") Laptop
//-             option(value="Mobile") Mobile
//-             option(value="Screw Driver") Screw Driver
//-             option(value="Drill Machine") Drill Machine
//-         button.btn.btn-primary(type="submit") Add Asset

doctype html
html
  head
    title Add Asset
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
  body
    .container
      h3.text-center.my-5 Create New Asset
      form.form.m-auto.w-75(action="/assets", method="POST")
        .form-group.mb-3
          label.mb-2(for="serialNo") Serial Number
          input.form-control(name="serialNo", required)
        .form-group.mb-3
          label.mb-2(for="name") Category
          input.form-control(name="name", required)
        .form-group.mb-3
          label.mb-2(for="make") Make
          input.form-control(name="make", required)
        .form-group.mb-3
          label(for="model") Model
          input.form-control(name="model", required)
        .form-group.mb-3
          label.mb-2(for="status") Status
          select.form-control(name="status", required)
            option(value="Available") Available
            option(value="Issued") Issued
            option(value="Obsolete") Obsolete
        .form-group.mb-3
          label.mb-2(for="branch") Branch
          input.form-control(name="branch", required)
        .form-group.mb-3
          label.mb-2(for="value") Value
          input.form-control(name="value", required) 
        button.btn.btn-primary(type="submit") Add Asset
